<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="leave-request-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet"
            href="/services/web/codbex-vacations/ext/generate/LeaveRequest/leave-request-generate.css">
        <script src="/services/web/codbex-vacations/ext/generate/LeaveRequest/leave-request-generate-controller.js">
        </script>
    </head>

    <body>
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">

                <div class="title">Generate Leave Request</div>
                <div class="line"></div>

                <fd-fieldset ng-form="forms.details">
                    <fd-form-group name="entityForm" class="fd-container fd-form-layout-grid-container">

                        <fd-form-item class="fd-row">
                            <div class="fd-col fd-col-md--2">
                                <fd-form-label for="idStartDate" dg-required="true" dg-colon="true">StartDate
                                </fd-form-label>
                            </div>
                            <div class="fd-col  fd-col-md--6">
                                <fd-form-input-message-group dg-inactive="{{ forms.details['StartDate'].$valid }}">
                                    <fd-input id="idStartDate" name="StartDate"
                                        state="{{ forms.details['StartDate'].$valid ? '' : 'error' }}"
                                        ng-required="true" ng-model="entity.StartDate" ng-readonly="action === 'select'"
                                        type="date">
                                    </fd-input>
                                    <fd-form-message dg-type="error">Incorrect Input</fd-form-message>
                                </fd-form-input-message-group>
                                <i class="sap-icon--information" role="presentation" onclick="javascript:alert('')"></i>
                            </div>
                        </fd-form-item>

                        <fd-form-item class="fd-row">
                            <div class="fd-col fd-col-md--2">
                                <fd-form-label for="idEndDate" dg-required="true" dg-colon="true">EndDate
                                </fd-form-label>
                            </div>
                            <div class="fd-col  fd-col-md--6">
                                <fd-form-input-message-group dg-inactive="{{ forms.details['EndDate'].$valid }}">
                                    <fd-input id="idEndDate" name="EndDate"
                                        state="{{ forms.details['EndDate'].$valid ? '' : 'error' }}" ng-required="true"
                                        ng-model="entity.EndDate" ng-readonly="action === 'select'" type="date">
                                    </fd-input>
                                    <fd-form-message dg-type="error">Incorrect Input</fd-form-message>
                                </fd-form-input-message-group>
                                <i class="sap-icon--information" role="presentation" onclick="javascript:alert('')"></i>
                            </div>
                        </fd-form-item>

                        <fd-form-item class="fd-row">
                            <div class="fd-col fd-col-md--2">
                                <fd-form-label for="idDays" dg-required="true" dg-colon="true">Days</fd-form-label>
                            </div>
                            <div class="fd-col  fd-col-md--6">
                                <fd-step-input dg-id="idDays" name="Days"
                                    state="{{ forms.details['Days'].$valid ? '' : 'error' }}" dg-required="true"
                                    ng-model="entity.Days" is-readonly="action === 'select'" placeholder="Enter Days">
                                </fd-step-input>
                                <i class="sap-icon--information" role="presentation" onclick="javascript:alert('')"></i>
                            </div>
                        </fd-form-item>

                        <fd-form-item class="fd-row">
                            <div class="fd-col fd-col-md--2">
                                <fd-form-label for="idType" dg-required="true" dg-colon="true">Type</fd-form-label>
                            </div>
                            <div class="fd-col  fd-col-md--8 ">
                                <fd-combobox-input id="idType" name="Type"
                                    state="{{ forms.details['Type'].$valid ? '' : 'error' }}" ng-required="true"
                                    ng-model="entity.Type" dg-disabled="action === 'select'"
                                    dropdown-items="optionsType" dg-placeholder="Search Type ...">
                                </fd-combobox-input>
                                <i class="sap-icon--information" role="presentation" onclick="javascript:alert('')"></i>
                            </div>
                        </fd-form-item>

                        </fd-form-item>
                        <fd-form-item class="fd-row">
                            <div class="fd-col fd-col-md--2">
                                <fd-form-label for="idReason" dg-required="false" dg-colon="true">Reason
                                </fd-form-label>
                            </div>
                            <div class="fd-col  fd-col-md--8 ">
                                <fd-form-input-message-group dg-inactive="{{ forms.details['Reason'].$valid }}">
                                    <fd-input id="idReason" name="Reason"
                                        state="{{ forms.details['Reason'].$valid ? '' : 'error' }}" ng-required="false"
                                        ng-model="entity.Reason" ng-readonly="action === 'select'"
                                        ng-minlength="0.0 || 0" ng-maxlength="50.0 || -1"
                                        dg-input-rules="{ patterns: [''] }" type="text" placeholder="Enter Reason">
                                    </fd-input>
                                    <fd-form-message dg-type="error">The value doesn't match the required pattern ''
                                    </fd-form-message>
                                </fd-form-input-message-group>
                                <i class="sap-icon--information" role="presentation" onclick="javascript:alert('')"></i>
                            </div>
                        </fd-form-item>

                        <fd-bar class="dialog-buttons" bar-design="footer" compact="true" ng-show="action !== 'select'">
                            <fd-bar-right>
                                <fd-bar-element>
                                    <fd-button class="button" dg-label="Generate" dg-type="emphasized"
                                        ng-disabled="!forms.details.$valid" ng-click="generateLeaveRequest()">
                                    </fd-button>
                                </fd-bar-element>
                            </fd-bar-right>
                        </fd-bar>
                    </fd-form-group>
                </fd-fieldset>
            </div>
        </div>
    </body>

</html>
